* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html, body {
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 75px 20px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p,
address {
    font-size: 1.2em;
}

.links {
    display: flex;
    gap: 10px;
}

.links > * {
    width: 30px;
    height: 30px;
}

.decor {
    position: absolute;
    z-index: -100;
    background-color: rgb(96, 96, 233);
    height: 600px;
    width: 150vw;
    transform: rotate(-12deg);
    top: -315px;
    left: -100px;
}

main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 100px;
}

header {
    display: flex;
    align-self: center; 
}

.headerImage {
    min-width: 500px;
    height: 600px;
    background-color: purple;
}

.aboutMe {
    background-color: white;
    align-self: center;
    height: fit-content;
    padding: 30px;
    box-shadow: 1px 2px 5px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.aboutMe > .links {
    align-self: end;
    margin-top: 50px;
}

.myWork > h2 {
    margin-bottom: 30px;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.project {
    box-shadow: 1px 2px 5px rgb(110, 110, 110);
    
    transition: transform 0.2s ease-out 0.1s;
}

.project:hover {
    transform: scale(1.05);
}

.projectImage {
    background-color: rgb(34, 110, 182);
    height: 250px;
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectInfo {
    padding: 10px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameLinks {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgb(96, 96, 233);
    display: flex;
    justify-content: center;
    
}

footer > div {
    flex: 1;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.contactMe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactMe > .links > *{
    height: 50px;
    width: 50px;
}

.footerImage {
    min-width: 500px;
    height: 400px;
    background-color: purple;
}

@media screen and (max-width: 600px) {
    body {
        position: relative;
    }

    h2 {
        text-align: center;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .headerImage {
        min-width: 300px;
        height: 400px;
        background-color: purple;
    }

    .aboutMe > .links {
        align-self: center;
        margin-top: 10px;
    }

    main {
        padding-top: 50px;
        align-items: center;
    }    
    
    footer > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 0 0;
    }

    .contactMe > .links{
        align-self: center;
    }

    .footerImage {
        min-width: 300px;
        height: 400px;
        background-color: purple;
    }
}
/* 
things to do:
add responsive images
make everthing reponsive

1200 - 600 add media query

600 and below add a media query
*/