* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 75px 20px;
    overflow-x: hidden;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}

.links {
    display: flex;
    gap: 10px;
}

.links > * {
    width: 30px;
    height: 30px;
}

.decor {
    position: absolute;
    z-index: -100;
    background-color: rgb(96, 96, 233);
    height: 600px;
    width: 150vw;
    transform: rotate(-12deg);
    top: -315px;
    left: -100px;
}

main {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
}

header {
    display: flex;
    align-self: center; 
}

.headerImage {
    
    
}

.aboutMe {
    background-color: white;
    align-self: center;
    height: fit-content;
    min-width: 500px;
    padding: 20px;
    box-shadow: 1px 2px 5px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.aboutMe > .links {
    align-self: end;

}

.myWork > h2 {
    margin-bottom: 10px;
}

.allProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.project {
    box-shadow: 1px 2px 5px rgb(110, 110, 110);
    max-width: 300px;
    transition: transform 0.2s ease-out 0.1s;
}

.project:hover {
    transform: scale(1.05);
}

.projectImage {
    background-color: rgb(34, 110, 182);
    height: 180px;
    color: white;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectInfo {
    padding: 10px 20px 50px 20px;
}

.nameLinks {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgb(96, 96, 233);
    display: flex;
    justify-content: center;
    
}

footer > div {
    flex: 1;
    max-width: 1100px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.contactMe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerImage {
}

/* 
things to do:
Make everything bigger
add responsive images
make everthing reponsive
*/